.pMenu {
  font-size: 6rem;
  margin-right: 94px;
  background: yellow;
  text-align: right;
  margin-right: 539px;
}
.imgMenu {
  width: 30%;
  position: relative;
  top: -159px;
  left: -443px;
}
.blackDiv {
  background: black;
  width: 69%;
  height: 20%;
  margin-top: 94px;
  text-align: center;
}
.pText {
  text-align: left;
  font-weight: bold;
  position: relative;
  font-size: 1rem;
  line-height: 40px;
  margin-left: 239px;
  top: -158px;
  width: 24%;
}
.orangediv {
  background: orangered;
  width: 30%;
  margin-left: 722px;
  margin-top: -510px;
  padding-top: 52px;
}

.img2 {
  width: 30%;
  margin-left: 433px;
  margin-top: -92px;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .pMenu {
    font-size: 3rem;
    background: yellow;
    text-align: right;
    margin-right: 81px;
  }
  .imgMenu {
    width: 30%;
    position: relative;
    top: -89px;
    left: -111px;
  }
  .blackDiv {
    background: black;
    width: 69%;
    height: 20%;
    margin-top: -4px;
    text-align: center;
  }
  .pText {
    text-align: left;
    font-weight: bold;
    position: relative;
    font-size: 0.5rem;
    line-height: 40px;
    margin-left: 206px;
    top: -83px;
    width: 37%;
  }
  .orangediv {
    background: orangered;
    width: 30%;
    margin-left: 162px;
    margin-top: -75px;
    padding-top: 40px;
  }

  .img2 {
    width: 30%;
    margin-left: -48px;
    margin-top: -92px;
  }
}
