
.pMenu {
  font-size: 6rem;
  margin-right: 94px;
  background: yellow;
  text-align: right;
  margin-right: 539px;
}
.imgMenu {
  width: 30%;
  position: relative;
  top: -159px;
  left: -443px;
}
.blackDiv {
  background: black;
  width: 69%;
  height: 20%;
  margin-top: 94px;
  text-align: center;
}
.pText {
  text-align: left;
  font-weight: bold;
  position: relative;
  font-size: 1rem;
  line-height: 40px;
  margin-left: 471px;
  top: -325px;
  width: 24%;
}
.orangediv {
  background: orangered;
  width: 39%;
  margin-left: 817px;
  margin-top: -510px;
  padding-top: 52px;
}

.img2 {
  width: 30%;
  margin-left: 657px;
  margin-top: -92px;
}


@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .pMenu {
    font-size: 3rem;
    background: yellow;
    text-align: right;
    margin-right: 81px;
}
.imgMenu {
  width: 49%;
  position: relative;
  top: -89px;
  left: -111px;
}
  .blackDiv {
    background: black;
    width: 69%;
    height: 20%;
    margin-top: -4px;
    text-align: center;
  }
  .pText {
    text-align: left;
    font-weight: bold;
    position: relative;
    font-size: 0.5rem;
    line-height: 40px;
    margin-left: 230px;
    top: -184px;
    width: 37%;
}
.orangediv {
  background: orangered;
  width: 53%;
  margin-left: 190px;
  margin-top: -153px;
  padding-top: 40px;
}
  
.img2 {
  width: 43%;
  margin-left: 88px;
  margin-top: -81px;
}
}
@media only screen and (min-width: 768px) {
  /* For tablets: */
  /* .imgMenu {
    width: 25%;
    height: 90%;
    position: absolute;
    top: 988px;
    left: 20px;
  }
  .pText {
    position: relative;
    top: 0;
    left: 30%;
    width: 32%;
    height: 20%;
    text-align: left;
    font-weight: bold;
    font-size: .75rem;
    line-height: 20px;
  } */
}
